.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
}

.acc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #7a7a7a;
  box-shadow: 0px 1px 1px 1px #c7c7c7;
}

.accTitle {
  background-color: #e9e8e8;
  cursor: pointer;
}

.accContent {
  padding: 20px;
  font-size: large;
  letter-spacing:1px;
  word-spacing:5px;
  
}